* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    height: 1000px;
    display: grid;
    align-items: center;
}

.main-section {
  width: 100%;
  text-align: center;
  background-color: blueviolet;
  display: block;
  text-decoration: none;
  color: white;
  top: 0;
}

.section-full a {
  display: inline-block;
  padding: 16px 32px;
  color: brown;
  font-size: 24px;
  position: fixed;
  top: 50%;
}


